html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(8, 8, 55);
    font-family: Arial, Helvetica, sans-serif;
}

.all {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.bg {
    height: 650px;
    width: 900px;
    background-color: white;
    border-radius: 25px;
}

.title {
    text-align: center;
    font-size: 60px;
}

.eventForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
}

.inp {
    height: 30px;
    width: 250px;
    border-radius: 12px;
    padding-left: 10px;
    outline: none;
    border: 1px solid black;
    font-size: 18px;
    text-align: center;
}

.lb {
    transform: translateY(12px);
}

.submit {
    height: 40px;
    width: 150px;
    border-radius: 12px;
    outline: none;
    border: 1px solid black;
    background-color: white;
    margin-top: 5px;
    transition: all 0.3s ease;
    font-size: 16px;
}

.submit:hover {
    background-color: black;
    color: white;
    transform: translateY(-6px);
    cursor: pointer;
}