html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(8, 8, 55);
    font-family: Arial, Helvetica, sans-serif;
}

.all {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.calendar {
    width: 60%;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
}

.title {
    text-align: center;
    font-size: 50px;
}

.month {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: -40px;
}

.prev, .next {
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.prev:hover, .next:hover {
    opacity: 0.5;
}

.week {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: bold;
}

.dayName {
    margin-right: 12.5px;
    width: 15%;
    font-size: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date {
    user-select: none;
    font-weight: bolder;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.day {
    width: 11.15%;
    font-size: 25px;
    margin-right: 20px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid black;
}

.prev-date,
.next-date {
    opacity: 0.3;
}

.active {
    font-size: 40px;
    color: rgb(20, 20, 94);
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.bg {
    width: 1200px;
    height: 800px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
}

.right {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.center {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.line {
    height: 100%;
    width: 3px;
    background-color: black;
}

.logtitle {
    text-align: center;
    font-size: 60px;
    margin-left: 175px;
}

.signtitle {
    text-align: center;
    font-size: 60px;
    margin-right: 175px;
    width: 230px;
}

.inp {
    height: 30px;
    width: 225px;
    border-radius: 12px;
    outline: none;
    border: 1px solid black;
    padding-left: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 18px;
}

.frm  {
    margin-top: 50px;
}

.loginp {
    margin-left: 175px;
}

.signinp {
    margin-right: 175px;
}

.loglb {
    margin-left: 175px;
}

.lb {
    font-size: 18px;
}

.logSub {
    margin-left: 215px;

}

.signSub {
    margin-left: 45px;
}

.sub {
    height: 40px;
    width: 150px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 5px;
    outline: none;
    border: 1px solid black;
    background-color: white;
    font-size: 18px;
    transition: all 0.4s ease;
}

.sub:hover {
    background-color: black;
    color: white;
    transform: translateY(-6px);
    box-shadow: 0px 2px 30px rgba(255, 255, 255, 0.7);
}

.rightPart {
    display: none;
    opacity: 0;
    transform: translateX(20px);
    height: 100%;
    width: 50%;
    border-radius: 25px;
    margin-left: 50px;
    background-color:rgb(1, 7, 25);
    color: white;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease;
}

.rightPart.show {
  display: flex;
  opacity: 1;
  transform: translateX(0);
}

.rev {
    margin-top: 75px;
}

.eventsCon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
    width: 100%;
}

.events {
    font-size: 30px;
    opacity: 0.7;
}

