html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(8, 8, 55);
    font-family: Arial, Helvetica, sans-serif;
}

.all {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.calendar {
    height: 800px;
    width: 1250px;
    background-color: white;
    border-radius: 20px;
}

.title {
    text-align: center;
    font-size: 60px;
}
