html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(8, 8, 55);
    font-family: Arial, Helvetica, sans-serif;
}

.all {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.calendar {
    width: 40%;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}


.calendar::before
.calendar::after {
    content: "";
    position: absolute;
    
    background-color: red;
    margin-left: 500px;
    height: 1000px;
    width: 1000px;
}

.title {
    text-align: center;
    font-size: 50px;
}

.month {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: -40px;
}

.prev, .next {
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.prev:hover, .next:hover {
    opacity: 0.5;
}

.week {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: bold;
}

.dayName {
    margin-right: 12.5px;
    width: 15%;
    font-size: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date {
    font-weight: bolder;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.day {
    width: 11.15%;
    font-size: 20px;
    margin-right: 20px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid black;
}