html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(8, 8, 55);
    font-family: Arial, Helvetica, sans-serif;
}

.all {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.calendar {
    width: 60%;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
}

.title {
    text-align: center;
    font-size: 50px;
}

.month {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: -40px;
}

.prev, .next {
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
    z-index: 60;
}

.prev:hover, .next:hover {
    opacity: 0.5;
}

.week {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: bold;
}

.dayName {
    margin-right: 12.5px;
    width: 15%;
    font-size: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date {
    user-select: none;
    font-weight: bolder;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.day {
    width: 11.15%;
    font-size: 25px;
    margin-right: 20px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid black;
}

.prev-date,
.next-date {
    opacity: 0.3;
}

.active {
    font-size: 40px;
    color: rgb(20, 20, 94);
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.bg {
    width: 1200px;
    height: 800px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
}

.right {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.center {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.line {
    height: 100%;
    width: 3px;
    background-color: black;
}

.logtitle {
    text-align: center;
    font-size: 60px;
    margin-left: 175px;
}

.signtitle {
    text-align: center;
    font-size: 60px;
    margin-right: 175px;
    width: 230px;
}

.inp {
    height: 30px;
    width: 225px;
    border-radius: 12px;
    outline: none;
    border: 1px solid black;
    padding-left: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 18px;
}

.frm  {
    margin-top: 50px;
}

.loginp {
    margin-left: 175px;
}

.signinp {
    margin-right: 175px;
}

.loglb {
    margin-left: 175px;
}

.lb {
    font-size: 18px;
}

.logSub {
    margin-left: 215px;

}

.signSub {
    margin-left: 45px;
}

.sub {
    height: 40px;
    width: 150px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 5px;
    outline: none;
    border: 1px solid black;
    background-color: white;
    font-size: 18px;
    transition: all 0.4s ease;
}

.sub:hover {
    background-color: black;
    color: white;
    transform: translateY(-6px);
    box-shadow: 0px 2px 30px rgba(255, 255, 255, 0.7);
}

.rightPart {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    background: rgb(1, 7, 25);
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
    color: white;
    border-radius: 25px;
    overflow-y: auto;
}

.rightPart.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}


.rev {
    margin-top: 75px;
}

.eventsCon {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 65%;
    width: 100%;
}

.events {
    font-size: 30px;
    opacity: 0.7;
}

.calbtn {
    height: 75px;
    width: 75px;
    transition: all 0.3s ease;
    user-select: none;
    -webkit-user-drag: none;
}

.calbtn:hover {
    opacity: 0.6;
    cursor: pointer;
}

.leftbtn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 20%;
    width: 55%;
    position: absolute;
}

.allMain {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 100%;
    flex-direction: column;
    color: white;
    gap: 30px;
}

.titleMain {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 5px;
}

.btn {
    height: 40px;
    width: 200px;
    border-radius: 12px;
    outline: none;
    border: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transform: translateY(-6px);
}

.topRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.profile {
    height: 75px;
    width: 75px;
    margin-top: 20px;
    margin-right: 30px;
    transition: all 0.3s ease;
}

.profile:hover {
    opacity: 0.6;
    cursor: pointer;
}

.createCon {
    display: none;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    transform: translateY(125px);
    z-index: 50;
}

.create {
    position: absolute;
    height: 550px;
    width: 800px;
    background-color: white;
    border-radius: 20px;
    z-index: 50;
}

.createTitle {
    font-size: 50px;
    text-align: center;
}

.calendarForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.cnlb {
    font-size: 22px;
    font-weight: 500;
}

.cn {
    height: 25px;
    width: 450px;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid black;
    outline: none;
    font-size: 18px;
    padding-left: 20px;
}

.calSub {
    height: 40px;
    width: 200px;
    border-radius: 12px;
    outline: none;
    border: 1px solid black;
    margin-top: 20px;
    font-size: 18px;
    background-color: white;
    transition: all 0.3s ease;
}

.calSub:hover {
    background-color:rgb(8, 8, 55);
    color: white;
    transform: translateY(-6px);
    cursor: pointer;
}

.viewCon {
    display: none;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    transform: translateY(125px);
    z-index: 50;
}

.view {
    position: absolute;
    height: 550px;
    width: 800px;
    background-color: white;
    border-radius: 20px;
    z-index: 50;
    overflow-y: auto;
}

.viewTitle {
    font-size: 50px;
    text-align: center;
}

.pos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 55%;
    width: 100%;
    gap: 20px;
}

.cals {
    font-size: 25px;
    opacity: 0.7;
}

.logModal {
    display: none;
    position: absolute;
    height: 100px;
    width: 250px;
    margin-right: 100px;
    margin-top: 30px;
    background-color: white;
    border-radius: 20px;
    z-index: 50;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.accBtn {
    width: 100%;
    border: 1px solid black;
    height: 50px;
    background-color: white;
    font-size: 20px;
    transition: all 0.3s ease;
}

.logout {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.logout:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.delete {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.delete:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.deleteCon {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: -100%;
    width: 100%;
    backdrop-filter: blur(10px);
    
}

.deleteModal {
    position: fixed;
    height: 400px;
    width: 600px;
    background-color: white;
    border-radius: 20px;
    z-index: 50;
    margin-bottom: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    box-shadow: 0px 2px 30px rgb(0, 0, 0, 0.7);
}

.delTitle {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.btn2 {
    width: 200px;
    height: 40px;
    border-radius: 12px;
    outline: none;
    border: 1px solid black;
    margin-top: 10px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

.yes {
    background-color: rgb(105, 16, 16);
    left: 100px;
    top: 100px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.yes:hover {
    background-color: rgb(150, 20, 20);
    cursor: pointer;
    transform: translateY(-6px);
}

.cancel {
    background-color: white;
    margin-top: 10px;
}

.cancel:hover {
    background-color: black;
    color: white;
    transform: translateY(-6px);
    cursor: pointer;
}

.modBG {
    height: 10000px;
    width: 10000px;
    position: absolute;
    background-color: black;
    opacity: 0.3;
}

.createEvent {
    height: 40px;
    width: 33%;
    border-radius: 12px;
    font-size: 20px;
    outline: none;
    border: 1px solid black;
    background-color: white;
    transition: all 0.3s ease;
}

.createEvent:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transform: translateY(-6px);
}

.centered {
    display: flex;
    justify-content: center;
}

.link {
    color: white;
    transition: all 0.3s ease;
}

.link:hover {
    opacity: 0.7;
}

.centerd {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 50px;
}

.even {
    margin-top: 50px;
}

.desc {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}

.savedcal {
    height: 40px;
    width: 150px;
    font-size: 18px;
    border-radius: 12px;
    outline: none;
    border: 1px solid black;
    background-color: white;
    transition: all 0.3s ease;
}

.savedcal:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transform: translateY(-6px);
}

.flash {
    font-size: 20px;
    padding: 15px;
    position: absolute;
    border-radius: 20px;
    user-select: none;
    pointer-events: none;
}  

.cont {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100vh;
    width: 100vw;
    user-select: none;
    pointer-events: none;
}

.success {
    background-color: green;
    color: white;
}

.fail {
    background-color: red;
    color: white;
}