<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <link rel="icon" href="../static/ava13c3ac53812cde1b88.png">
</head>
<body>
    <div class="all">
        <div class="calendar">
            <h1 class="title">Calendar</h1>
            <div class="month">
                <strong class="prev"><</strong>
                <p class="date">November 2025</p>
                <strong class="next">></strong>
            </div>
        </div>
    </div>
</body>
</html>