<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css' )}}">
    <link rel="icon" href="../static/ava13c3ac53812cde1b88.png">
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="cont">
            <div class="flash {{ category }}">
                {{ message }}
            </div>    
        </div>
        {% endfor %}

    {% endif %}
    {% endwith %}

    <div class="topRight">
        <div class="profCon">
            <img src="../static/icon.png" alt="Profile Icon" class="profile">
        </div>

        <div class="logModal">
            <button class="logout accBtn">Logout</button>
            <button class="delete accBtn">Delete Account</button>
            <div class="modArrow"></div>
        </div>

    </div>

    <div class="createCon">
        <div class="create">
            <h1 class="createTitle">Create Calendar</h1>
            <form class="calendarForm" action="{{ url_for('home')}}" method="post">
                <label class="cnlb">Calendar Name</label>
                <input type="text" class="cn" name="cn" maxlength="46" required>
                <input type="submit" class="calSub" value="Create">
            </form>
        </div>
    </div>

    <div class="viewCon">
        <div class="view">
            <h1 class="viewTitle">Calendars</h1>
            <div class="pos">
                {% if calendars %}
                    {% for calendar in calendars %}
                        <button class="savedcal" data-publicid="{{ calendar.public_id }}">{{ calendar.name }}</button>
                    {% endfor %}
                {% else %}
                    <p class="cals">No Calendars</p>
                {% endif %}

            </div>

        </div>
    </div>

    <div class="allMain">
        <div class="titleMain">Calendar</div>
        <button class="createBtn btn">Create Calendar</button>
        <button class="viewBtn btn">View Calendars</button>
    </div>



    <div class="deleteCon">
        <div class="modBG"></div>
        <div class="deleteModal">
            <h1 class="delTitle">Are You Sure?</h1>
            <button class="yes btn2">Yes</button>
            <button class="cancel btn2">Cancel</button>
        </div>
    </div>


    {% if current_user.is_authenticated %}

    <script>
        const create = document.querySelector('.createBtn');
        const createModal = document.querySelector('.createCon');
        const view = document.querySelector('.viewBtn');
        const viewModal = document.querySelector('.viewCon');
        const profile = document.querySelector('.profile');
        const logModal = document.querySelector('.logModal');
        const logout = document.querySelector('.logout');
        const deleteBtn = document.querySelector('.delete');
        const yes = document.querySelector('.yes');
        const cancel = document.querySelector('.cancel');
        const delModal = document.querySelector('.deleteCon');
        const delBox = document.querySelector('.deleteModal');
        const savedcal = document.querySelector('.savedcal');

        if (savedcal) {
            savedcal.addEventListener('click', ()=> {
                const public_id = savedcal.dataset.publicid;
                window.location.href = `/calendar/${public_id}`;
            })
        }


        cancel.addEventListener('click', ()=> {
            delModal.style.display = 'none';
        })

        yes.addEventListener('click', ()=> {
            window.location.href = '{{ url_for("delete") }}';
        });

        logout.addEventListener('click', ()=> {
            window.location.href = '{{ url_for("logout") }}';
        })

        deleteBtn.addEventListener('click', ()=> {
            delModal.style.display = 'flex';
            logModal.style.display = 'none';
            document.body.style.overflow = 'hidden';
        })


        profile.addEventListener('click', ()=> {
            if (logModal.style.display === 'none') {
                logModal.style.display = 'flex';
            } else {
                logModal.style.display = 'none';
            }
        }) 

        create.addEventListener('click', ()=> {
            createModal.style.display = 'flex';
        });

        view.addEventListener('click', ()=> {
            viewModal.style.display = 'flex';
        })

        document.addEventListener('click', (event) => {
            if (createModal.style.display === 'flex' && !createModal.contains(event.target) && !create.contains(event.target)) {
                createModal.style.display = 'none';
            }
            
            if (viewModal.style.display === 'flex' && !viewModal.contains(event.target) && !view.contains(event.target)) {
                viewModal.style.display = 'none';
            }

            if (logModal.style.display === 'flex' && !logModal.contains(event.target) && !profile.contains(event.target)) {
                logModal.style.display = 'none';
            }

            if (delModal.style.display === 'flex' && !delBox.contains(event.target) && !deleteBtn.contains(event.target)) {
                delModal.style.display = 'none';
            }
        });

    </script>

    {% else %}
    <script>
        const create2 = document.querySelector('.createBtn');
        const view2 = document.querySelector('.viewBtn');
        const profile2 = document.querySelector('.profile');

        profile2.addEventListener('click', ()=> {
            window.location.href = "{{ url_for('login') }}"
        })

        create2.addEventListener('click', ()=> {
            window.location.href = '{{ url_for("login") }}';
        })

        view2.addEventListener('click', ()=> {
            window.location.href = '{{ url_for("login") }}';
        })

    </script>
    
    {% endif %}
</body>
</html>